<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big icon-warning text-center">
              <i class="ti-stats-up"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Empleados</p>
              <%= total_users %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="ti-alert text-warning"></i>
           65% lower than last month
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big icon-danger text-center">
              <i class="ti-receipt"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Servicios</p>
              <%= total_services %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="ti-alert text-warning"></i>
           65% lower than last month
        </div>
      </div>
    </div>
  </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big icon-success text-center">
              <i class="ti-money"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Facturado</p>
              <%= total %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="ti-alert text-warning"></i>
           65% lower than last month
        </div>
      </div>
    </div>
  </div>
</div>
