<div class="col-md-6">
  <div class="card" style="min-height: 550px">
    <div class="header card-header-icon">
      <h4 class="title">
        <i class="ti-pulse"></i>
         Tendencia de ventas
      </h4>
    </div>
    <div class="content">
      <div class="">
        <div id="line-chart" class="demo-placeholder" style="padding: 0px; position: relative;">
          <%= line_chart @data, @options %>
        </div>
      </div>
    </div>
  </div>
</div>