<div id="costeo" class="tabcontent">
  <table class="table table-no-bordered table-hover">
    <thead>
      <th class="funded-sample-table-header is-larger">Nombre</th>
      <th class="funded-sample-table-header is-medium">Categoría</th>
      <th class="funded-sample-table-header is-large">Método</th>
      <th class="funded-sample-table-header is-small">Cantidad</th>
      <th class="funded-sample-table-header is-medium">Precio</th>
      <th class="funded-sample-table-header is-medium">Subtotal</th>
    </thead>
    <tbody>
    <%= f.fields_for :preliminary_orders do |preliminary_order| %>
      <%= render 'preliminary_order_fields', f: preliminary_order %>
    <% end %>
    </tbody>
  </table>

  <div class="col-md-5 offset-md-7 ">
    <div class="form-group row">
      <div class="col-md-8 text-center">
        <strong>Total</strong>
      </div>
      <div class="text-center" style="width: 32%">
        <%= f.text_field :total, readonly: true, class: "form-control", id: "quotation-total-input", value: f.object.total ? f.object.total : '0.0' %>
      </div>
    </div>
  </div>
</div>
