<div id="adjust_cost" class="tabcontent">
  <%= render 'aplication/add_nested_elements', title: "Muestras", button_message: "", editable: false, f: f, 'association_insert_node': '.service-adjust', fields: :processed_samples, partial: 'processed_sample_fields' %>
</div>
