<div>
  <h3>Información de Clasificación</h3>
  <%=  render 'sample_feature_form', sample: sample %>
</div>
<div>
  <h3>Valores de Custodia </h3>
  <div class="" id="sample-feature-table">
    <%= render 'filling_up_sample_features', rows: rows, cols: cols %>
  </div>
</div>