<div class="card"> 
  <div class="tab">
    <button class="tablinks active" onclick="openSection(event, 'information')">Servicio</button>
    <button class="tablinks" onclick="openSection(event, 'custody')">Custodia</button>
  </div>
  <% if @custody_order.revision_number==0 %>
    <%= render 'unclassified_orders_to_classified', custody_order: @custody_order, path: employee_custody_order_path, service: @custody_order.service, sample: @preliminary_order, rows: @rows, cols: @cols %>
  <% else %>
    <%= render 'classified_orders_to_reclassify', custody_order: @custody_order, path: employee_custody_order_path, service: @custody_order.service, sample: @preliminary_order, rows: @rows, cols: @cols %>
  <% end %>
</div>