  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% roles.each do |role| %>
        <tr>
          <td><%= role.name %></td>
          <td><%= role.description %></td>
          <td>
            <%= link_to role_path(role), data: { "toggle" => "tooltip"}, title: "Ver" do %>
              ver
            <% end %>
            <%= link_to edit_role_path(role), data: { "toggle" => "tooltip" }, title: "Editar" do%>
            editar
            <% end %>
            <%#= link_to toggle_status_role_path(role), id: "role-lock-#{role.id}", class: "btn btn-danger btn-sm #{current_user.can_delete(@controller) ? '' : 'disabled'}", data: { "toggle" => "tooltip" }, title: "#{role.tooltip_status}", method: :put, remote: true do %>
              <%# if role.status=="active" %>
                <!--i class="fa fa-unlock" aria-hidden="true"></i>
              <%# else %>
                <i class="fa fa-lock" aria-hidden="true"></i!-->
              <%# end %>
            <%# end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
